/* full screen */
html,body {
    margin: 0;
    padding: 0;
}

.mobile-col-camera-canvas {
    position: absolute;
    top: 52vh;
    left: 55vw;
    z-index: 1;
    width: 35%;
    border-radius: 5px;
} 

.camera-layout {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.camera-content {
    height: inherit;
}

video {
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
}

/* button */
[class*="mobile-col-camera-btn"] {
    padding: 16px;
    padding-left: 26px;
    padding-right: 26px;
    border-radius: 50px;
    border: none;
    text-align: center;
    outline: none;
    letter-spacing: 1px;
    font-size: 14px;
}

.mobile-col-camera-btn-snap, .mobile-col-camera-btn-upload {
    position: absolute;
    top: 80vh;
}

.mobile-col-camera-btn-snap {
    left: 31%;
    transform: translateX(-50%);
    background-color: #435CFA;
    color: aliceblue;
    transition-duration: 1s;
    
}
.mobile-col-camera-btn-snap:active {
    box-shadow: 0px 0px 20px #435CFA;
    background-color: rgb(112, 130, 248);
}

.mobile-col-camera-btn-upload {
    left: 74%;
    transform: translateX(-50%);
    background-color: #C4CBFA;
    color: #435CFA;
}

/* let user don't select the text */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }